.key {
    width: 50px;
    height: 50px;
    background: #000;
    color: #fff;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}

.key.active {
    background: #fff;
    color: #000;
}

#total {
    height: 60px;
    text-align: center;
    background: #000;
    color: #fff;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
}

#kps {
    height: 60px;
    text-align: center;
    background: #000;
    color: #fff;
    justify-content: center;
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
}

body {
    margin: 0;
    overflow: hidden;
    user-select: none;
}

.optContainer {
    width: 100vw;
    display: flex;
}
